* {
  padding: 0px;
  margin: 0px;
}
.navbar-main-div {
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4b3618, #6f5425, #a67c52, #d2b48c);
}
.navbarIconDiv {
  display: none;
}
.nav-inner-div {
  min-height: 10vh;
  min-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.nav-ele a {
  text-decoration: none;
  color: black;
  font-family: "Noto Serif Display", serif;
  font-size: 1.3rem;
  font-weight: 520;
  transition: all 0.3s linear;
  height: 100%;
  min-width: 100%;
  text-align: center;
  padding-top: 10px;
  transition: all 0.1s linear;
}
.nav-ele {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
  height: 100%;
  border-bottom: 2px solid transparent;
}
.nav-ele:hover {
  border-bottom: 2px solid white;
}
.nav-ele a:active {
  transform: scale(0.95);
}
.nav-ele:hover a {
  color: white;
  text-shadow: 2px 6px 8px black;
  font-weight: 700;
}

.about-main-div {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #4b3618, #6f5425, #a67c52, #d2b48c);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-in-div {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
}
.about-me {
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
  font-size: 3rem;
  color: black;
  text-align: center;
  grid-row: 1/2;
  margin: 10px;
}
#about-img {
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  margin: 10px;
}
#about-me-text {
  grid-row: 3/4;
  margin: 10px;
}
#about-me-text p {
  text-align: center;
  font-family: "Arapey", serif;
  font-weight: 700;
  font-size: 1.5rem;
}
#about-img img {
  height: 300px;
  border-radius: 20px;
}
@media (min-width: 600px) and (max-width: 1000px) {
  .nav-ele a {
    font-size: 1.05em;
  }
  .about-me {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .navbarIconDiv {
    display: block;
    min-height: 10vh;
    width: 100%;
    height: 50px;
    position: relative;
  }
  .nav-links {
    text-decoration: none;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    width: max-content;
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 2;
  }
  .nav-links li {
    width: max-content;
    font-size: 1.5rem;
    font-family: "Arapey", serif;
    margin: 10px;
    padding: 20px;
    text-align: center;
  }
  .nav-links a {
    text-decoration: none;
    color: #d2b48c;
    font-weight: 900;
    padding-bottom: 2px;
  }
  .menu-close-icon {
    cursor: pointer;
    position: absolute;
    right: 20px;
  }
  .menu-open-icon {
    right: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
  }

  .nav-inner-div {
    display: none;
  }
  #about-img img {
  height: 250px;
  border-radius: 20px;
}
.about-in-div {
  grid-template-rows: 0.2fr 0.5fr 1fr;
}
}
