*{
    padding: 0px;
    margin: 0px;
}

.contact-main-div{
    min-height: 100vh;
    background: linear-gradient(135deg, #779C98, #cbddd6);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-in-div{
    width: 85%;
    min-height: 85%;
    display: grid;
    grid-template-rows: 1.5fr 2fr;
}
.title-div{
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-start;
}
.title-div > h1{
    font-size : 4rem;
    font-family: 'Noto Serif Display', serif;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}
.contact-det-in{
    display: flex;
    max-height: 90%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
    padding : 10px 0px 10px 0px;
}    
.contact-det-in > * {
    padding: 20px;
    width: 100px; 
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.contact-det h2{
    font-size: 4rem;
    font-family: 'Arapey', serif;
    color: black;
    text-align: center;
    padding: 10px 0px 20px 0px;
    font-weight: 550;
}
.contact-det-in > * > *{ 
    opacity: 0.8;
    transition: all 0.3s linear 0.1s;
}
.contact-det-in > * > a:hover{
   transform: scale(1.2);
   opacity: 1;
   filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.contact-det-in > * a > img{
    height: 60px;
}
.platform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.platform p{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
.contact-det-in > * > a:hover + p{
    color:white;
    text-shadow: 2px 2px 8px black;
}
@media (min-width: 769px) and (max-width: 1024px)
{
    .contact-in-div{
        width: 90%;
        height: 90%;
        grid-template-rows: 1.5fr 2fr;
    }
    .title-div > h1{
        font-size: 3.5rem;
    }
    .contact-det  h2{
        font-size: 3rem;
    }
    .contact-det-in > * a > img{
        height: 55px;
     }
}
@media (min-width: 401px) and (max-width: 768px){
    .contact-in-div{
        width: 95%;
        height: 90%;
        grid-template-rows: 0.6fr 1fr;
        grid-template-columns: 1fr;
    }
    .title-div{
        
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .title-div > h1{
        font-size: 2.55rem;
    }
    .contact-det  h2{
        font-size: 2.5rem;
    }
    .contact-det-in > * a > img{
        height: 50px;
    }
    .contact-det-in > * > *{ 
        opacity: 1;
    }
    .contact-det-in > * > *:hover{
       transform: none;
    }
    .contact-det-in > * > a:hover + p{
        text-shadow: none;
    }
}
@media (max-width:400px) {
    .contact-in-div{
        width: 95%;
        height: 95%;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;
    }
    .title-div{
       justify-content: center;
       align-items: center;
    }
    .title-div > h1{
        font-size: 2.35rem;
    }
    .contact-det  h2{
        font-size: 2rem;
    }
    .contact-det-in > * a > img{
        height: 45px;
    }
    
    .contact-det-in > * > *{ 
        opacity: 1;
    }
    .contact-det-in > * > *:hover{
       transform: none;
     }
    .contact-det-in > * > a:hover + p{
            text-shadow: none;
    }
}
