*{
    margin: 0;
    padding: 0;
}
/*nav bar*/
.navbar-main-div{
    min-height: 10vh;
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #779C98, #cbddd6);
}
.nav-inner-div{
    min-height: 10vh;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.nav-ele a{
    text-decoration: none;
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-size: 1.6em;
    font-weight: 520;
    transition: all 0.3s linear;
}
.nav-ele{
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s linear;
    height: 100%;
}
.nav-ele:hover{
    box-shadow: 0px 8px 8px white;
    padding-bottom: 5px;
    border-bottom: 3px solid #6F938F;
}
.nav-ele:hover a{
    color:white;
    text-shadow: 2px 6px 8px black;
    font-weight: 700;
}

/*main body part of home page*/
.home-main-div{
    background: linear-gradient(135deg, #779C98, #ebfdf6);
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-in-div{
    height: 85%;
    width: 85%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
#home-intro{
    height: auto;
    position: relative;
    grid-row: 1 / 2; 
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}
#home-intro > p
{
    font-family: 'Noto Serif Display', serif;
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    top : 10%;
    color: black;
}
#home-intro-text{
    height: auto;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
#home-intro-text > p{
    font-family: 'Arapey', serif;
    font-size: 2rem;
    position: relative;
    color: black;
}
#home-img{
    min-width: 100%;
    justify-self: center;
    grid-row: 1 / 3; /* Occupy rows 1 and 2 */
    grid-column: 2 / 3;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#home-img img{
    max-width: 80%; 
    max-height: 80%;  
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in;
}
#home-img img:hover{
    box-shadow: 8px 8px 8px #040908;
}
@media (max-width:400px) {
    .nav-inner-div{
        gap:5px;
        width: 100%;
    }
    .nav-ele a {
        font-size: 0.6rem;
    }
    .home-in-div{
        height: 95%;
        width: 95%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #home-img{
        grid-row: 1 / 3; /* Occupy rows 1 and 2 */
        grid-column: 1 / 2;
        margin-bottom: 0px;
        justify-content: center;
    }
    #home-img img{
        max-width: 70%; 
        max-height: 70%; 
    }
    #home-intro{
        grid-row: 3/ 4; 
        grid-column: 1 / 2;
        justify-content: center;
    }
    #home-intro-text{
        grid-row: 4 /5;
        grid-column: 1 / 2;
    }
    #home-intro-text > p{
        font-size: 1.5rem;
        text-align: center;
    }
    #home-intro > p
    {
        font-size: 1.4rem;
    }
    .nav-ele:hover{
        box-shadow: none;
        border-bottom:none;
    }
    .nav-ele:hover a{
        color:black;
        text-shadow: none;
    }
    #home-img img:hover{
        box-shadow: none;
    }
}
@media (min-width: 401px) and (max-width: 768px){
    .nav-ele a {
        font-size: 0.7rem;
    }
    .home-in-div{
        height: 90%;
        width: 95%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #home-img{
        grid-row: 1 / 3; /* Occupy rows 1 and 2 */
        grid-column: 1 / 2;
        margin-bottom: 0px;
        justify-content: center;
    }
    #home-img img{
        max-width: 75%; 
        max-height: 75%; 
    }
    #home-intro{
        grid-row: 3/ 4; 
        grid-column: 1 / 2;
        justify-content: center;
    }
    #home-intro-text{
        grid-row: 4 /5;
        grid-column: 1 / 2;
    }
    #home-intro-text > p{
        font-size: 1.7rem;
        text-align: center;
    }
    #home-intro > p
    {
        font-size: 1.8rem;
    }
    .nav-ele:hover{
        box-shadow: none;
        border-bottom:none;
    }
    .nav-ele:hover a{
        color:black;
        text-shadow: none;
    }
    #home-img img:hover{
        box-shadow: none;
    }

    
}
@media (min-width: 769px) and (max-width: 1024px){
    .nav-ele a {
        font-size: 1.4rem;
    }
    #home-img img{
        max-width: 80%; 
        max-height: 80%; 
    }
    #home-intro-text > p{
        font-size: 1.7rem;
    }
    #home-intro > p
    {
        font-size: 1.8rem;
    }
    
}
@media (min-width: 1025px) and (max-width: 1440px){
    .nav-ele a {
        font-size: 1.6rem;
    }
    #home-img img{
        max-width: 80%; 
        max-height: 80%; 
    }
    #home-intro-text > p{
        font-size: 1.9rem;
    }
    #home-intro > p
    {
        font-size: 2.3rem;
    }
    
}

