* {
  padding: 0px;
  margin: 0px;
}

.navbar-main-div {
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4b3618, #6f5425, #a67c52, #d2b48c);
}
.navbarIconDiv {
  display: none;
}
.nav-inner-div {
  min-height: 10vh;
  min-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.nav-ele a {
  text-decoration: none;
  color: black;
  font-family: "Noto Serif Display", serif;
  font-size: 1.6em;
  font-weight: 520;
  transition: all 0.3s linear;
  height: 100%;
  min-width: 100%;
  text-align: center;
  padding-top: 10px;
  transition: all 0.1s linear;
}
.nav-ele {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
  height: 100%;
  border-bottom: 2px solid transparent;
}
.nav-ele:hover {
  border-bottom: 2px solid white;
}
.nav-ele a:active {
  transform: scale(0.95);
}
.nav-ele:hover a {
  color: white;
  text-shadow: 2px 6px 8px black;
  font-weight: 700;
}

.skill-main-div {
  width:100%;
  min-height: 100vh;
  background: linear-gradient(to right, #4b3618, #6f5425, #a67c52, #d2b48c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-in-div {
  min-width: 90%;
  min-height: 80%;
}
.skill-title {
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
  font-size: 3rem;
  color: black;
  text-align: center;
}
.skill {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 80vh;
  min-width: auto;
  margin-bottom: 50px;
  /* background-color: gray; */
}
.tech-skill,
.soft-skill {
  display: flex;
  margin: 5px;
  width: 80%;
  margin-left: 10%;
  border: 2px solid black;
  border-radius: 20px;
  transition: all 0.3s linear;
}
.tech-skill:hover,
.soft-skill:hover {
  border: 2px solid white;
}
.tech-skill {
  grid-row: 1/2;
}
.soft-skill {
  grid-row: 2/3;
}
.skilllogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.skilllogo img {
  height: 300px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px 4px #9d7531;
}
.skillDec {
  width: 100%;
}
.skillDec > h2 {
  color: black;
  text-align: center;
  font-family: "Arapey", serif;
  font-weight: 800;
  font-size: 2.5rem;
  background-color: #765323;
  border-radius: 20px;
  margin: 10px;
}
.skillDec p {
  padding-top: 100px;
  color: black;
  text-align: center;
  font-family: "Arapey", serif;
  font-weight: 550;
  font-size: 1.5rem;
}
.techskilldec ul {
  color: black;
  font-family: "Arapey", serif;
  font-weight: 550;
  font-size: 1.5rem;
  padding-top: 30px;
}
.resume {
  text-align: center;
  background-color: #765323;
  border-radius: 20px;
  max-width: 80%;
  position: relative;
  left: 10%;
  padding: 5px;
  color: black;
  margin: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume h4 {
  font-family: "Noto Serif Display", serif;
  font-weight: 800;
}
.resume a {
  text-decoration: none;
  color: white;
  font-family: "Arapey", serif;
  padding-left: 10px;
  font-size: 1.5rem;
}
@media (min-width: 600px) and (max-width: 1000px) {
  .nav-ele a {
    font-size: 1.05em;
  }
  .skill-title {
    font-size: 2.5rem;
  }
  .skill {
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
    /* background-color: gray; */
  }
  .tech-skill {
    display: flex;
    flex-direction: column-reverse;
    grid-row: 1/2;
  }
  .soft-skill {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .skilllogo img {
    height: 250px;
  }
  .skillDec > h2 {
    font-size: 2rem;
  }
  .skillDec p {
    font-size: 1.5rem;
    padding: 30px;
  }
  .techskilldec ul {
    font-size: 1.2rem;
    padding: 30px;
  }
}
@media (max-width:600px)
{
    .navbarIconDiv {
    display: block;
    min-height: 10vh;
    width: 100%;
    height: 50px;
    position: relative;
  }
  .nav-links {
    text-decoration: none;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    width: max-content;
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 2;
  }
  .nav-links li {
    width: max-content;
    font-size: 1.5rem;
    font-family: "Arapey", serif;
    margin: 10px;
    padding: 20px;
    text-align: center;
  }
  .nav-links a {
    text-decoration: none;
    color: #d2b48c;
    font-weight: 900;
     padding-bottom:2px ;
  }
  .menu-close-icon {
    cursor: pointer;
    position: absolute;
    right: 20px;
  }
  .menu-open-icon {
    right: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
  }

  .nav-inner-div {
    display: none;
  }

  .skill-title {
    font-size: 2.5rem;
  }
  .skill {
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
    /* background-color: gray; */
  }
  .tech-skill {
    display: flex;
    flex-direction: column-reverse;
    grid-row: 1/2;
  }
  .soft-skill {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .skilllogo img {
    height: 200px;
  }
  .skillDec > h2 {
    font-size: 1.5rem;
  }
  .skillDec p {
    font-size: 1rem;
    margin-top: 70px;
    padding: 30px;
  }
  .techskilldec ul {
    font-size: 1rem;
    padding: 30px;
  }
  .techSkillLogo img {
  transform: translateX(0%);
  transition: none;
}
.tech-skill:hover .techSkillLogo img {
  transform: none;
}
.softSkillLogo img {
  transform: translateX(0%);
  transition: none;
}
.soft-skill:hover .softSkillLogo img {
  transform: none;
}
}
