*{
    padding: 0px;
    margin: 0px;
}
.skill-main-div{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #779C98, #cbddd6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-in-div
{
    width: 85%;
    height: 85%;
    display: grid;
    grid-template-rows: 0.6fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.skill-title{
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Noto Serif Display', serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}
.skill{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.skill-text{
    grid-column: 1 / 2;
    transition: all 0.3s ease-in-out;
    
}
.skill-img{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.skill-text:hover + .skill-img{
    transform: scale(1.1);
}
.skill-text:hover{
    box-shadow: 4px 4px 8px white;
}
.skill-text > *{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Arapey', serif;
}
.skill-text > h2{
    font-weight: 500;
    color: black;
    transition: all 0.3s ease-in-out;
}
.skill-text > ul{
    font-size: 1.9rem;
    color: rgba(0, 0, 0, 0.700);
}
.skill-text:hover > ul{
    color: rgba(0, 0, 0, 1);
}
.skill-text:hover h2{
    color:white;
    text-shadow: 2px 6px 8px black;
    font-weight: 700;
    transform: translateX(10px);
}
.skill > .skill-img > img{
    max-height: 80%;
    max-width: 80%;  
} 
@media (min-width: 1025px) and (max-width: 1440px)
{
    .skill-title
    {
        font-size: 3.5rem;   
    }
    .skill-text > ul{
        font-size: 1.8rem;
    }
    .skill-text > h2{
        font-size: 2.2rem;
    }
    .skill-img > img{
        height: 80%;
        width: 80%;
        margin-left: 30px;
    }
    
}
@media (min-width: 769px) and (max-width: 1024px)
{
    .skill-title
    {
        font-size: 2.9rem;   
    }
    .skill-text > ul{
        font-size: 1.7rem;
    }
    .skill-text > h2{
        font-size: 2rem;
    }
    .skill-img > img{
        max-width: 80%; 
        max-height: 80%; 
        position:relative;
        left : 30px;
    }
    
}
@media (min-width: 401px) and (max-width: 768px)
{
    .skill-in-div
    {
        width: 95%;
        height: 90%;
        display: grid;
        grid-template-rows: 0.7fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .skill-title
    {
        font-size: 2.8rem; 
        display: flex;
        justify-content: center;    
    }
    .skill-text > ul{
        font-size: 1.1rem;
    }
    .skill-text > h2{
        font-size: 1.25rem;
    }
    .skill-img > img{
        max-height: 75%;
        max-width: 75%;
    }
    .skill-img{
        display: flex;
        align-items: flex-start;
        padding-top: 30px;
    }
    .skill-text:hover + .skill-img{
        transform: none;
    }
    .skill-text:hover{
        box-shadow: none;
    }
    .skill-text:hover h2{
        text-shadow: none;
        transform: none;
    }
}
@media (max-width:400px) {
    .skill-in-div
    {
        width: 95%;
        height: 95%;
        display: grid;
        grid-template-rows: 0.6fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .skill-title
    {
        font-size: 2.6rem;  
        justify-content: center;
    }
    .skill-text > ul{
        font-size: 0.8rem;
    }
    .skill-text > h2{
        font-size: 1.1rem;
    }
    .skill-img{
        display: flex;
        align-items: flex-start;
        padding-top: 40px;
    }
    .skill-img > img{
        max-width: 75%; 
        max-height: 75%; 
    } 
    .skill-text:hover + .skill-img{
        transform: none;
    }
    .skill-text:hover{
        box-shadow: none;
    }
    .skill-text:hover h2{
        text-shadow: none;
        transform: none;
    }
}
